<div ng-controller="MainCtrl">
  <md-dialog aria-label="Add Brewstyle" ng-cloak>
    <md-content layout-padding>
      <form name="brewstyleForm">
        <md-input-container class="md-block">
          <label>Brewstyle</label>
          <input required name="brewstyle" ng-model="BrewstyleForm.brewstyle">
          <div ng-messages="brewstyleForm.brewstyle.$error">
            <div ng-message="required">Enter a brewstyle</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Discription</label>
          <input required name="discription" ng-model="BrewstyleForm.discription">
          <div ng-messages="brewstyleForm.discription.$error">
            <div ng-message="required">Enter the brewstyle discription</div>
          </div>
        </md-input-container>
        <md-button>Create</md-button>
      </form>
    </md-content>
  </md-dialog>
</div>
