<div ng-controller="BrewCtrl as ctrl" ng-app="brewfactory" ng-cloak>
  <div class="mainPage container">
    <md-grid-list md-cols-xs="1"
                  md-cols-sm="1"
                  md-cols-md="2"
                  md-cols-lg="3"
                  md-row-height-xs="2:3"
                  md-row-height-sm="2:2"
                  md-row-height-md="2:3"
                  md-row-height-lg="2:3"
                  md-gutter-xs="12px"
                  md-gutter-sm="12px"
                  md-gutter-md="12px"
                  md-gutter-lg="12px">
      <md-grid-tile ng-repeat="homeBrew in homeBrews"
                    md-rowspan-md="1"
                    md-colspan-lg="1"
                    md-colspan="1"
                    class="brewRow">
        <md-card class="brewCards">
          <img src="../images/placeholder.jpg"
               class="md-card-image"
               alt="image caption">
          <md-card-content>
            <h2>{{ homeBrew.brewName }}</h2>
            <p>{{ homeBrew.brewDiscription }}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="start">
            <md-button href="/{{ homeBrew.brewStyle }}" class="viewBrewStyle">
              View
            </md-button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
      <md-button class="md-fab md-fab-bottom-right"
                 aria-label="Add brewstyle"
                 ng-click="openBrewstyleModal($event)">
        <md-icon md-svg-src="../images/ic_add_white_36px.svg"></md-icon>
      </md-button>
    </md-grid-list>
  </div>
</div>
