<div ng-controller="MainCtrl as mc">
  <div class="frontPage">
    <div class="frontPageTop">

    </div>
    <div class="frontPageIcon">
      <img src="images/brewIcon.png" alt="Brew Bio Icon" />
    </div>
    <div class="frontPageBottom">

    </div>
  </div>
  <div class="mainPage container">
    <md-grid-list md-cols-sm="1"
                  md-cols-gt-sm="2"
                  md-cols-gt-md="3"
                  md-row-height-sm="1:1"
                  md-row-height-gt-sm="1:2"
                  md-row-height-gt-md="2:3"
                  md-row-height-gt-lg="2:3"
                  md-gutter-sm="12px"
                  md-gutter-gt-sm="12px"
                  md-gutter-gt-lg="12px">
      <md-grid-tile ng-repeat="brew in brews"
                    md-rowspan-md="1"
                    md-colspan-lg="1"
                    md-colspan="1"
                    class="brewRow">
        <md-card class="brewCards">
          <img src="../images/placeholder.jpg"
               class="md-card-image"
               alt="image caption">
          <md-card-content>
            <h2>{{ brew.brewStyle }}</h2>
            <p>{{ brew.brewDiscription }}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="start">
            <md-button href="/{{ brew.brewStyle }}" class="viewBrewStyle">
              View
            </md-button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
      <md-button class="md-fab md-fab-bottom-right"
                 aria-label="Add brewstyle"
                 ng-click="addBrewStyle($event)">
        <md-icon md-svg-src="../images/ic_add_white_36px.svg"></md-icon>
      </md-button>
    </md-grid-list>
  </div>
</div>
